.toolbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-width-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right:auto;
}

.line-width-menu label {
    font-size: 14px;
    font-weight: bold;
}

.line-width-menu select {
    padding: 5px;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.divider {
    width: 1px;
    background-color: #000000;
    margin: 0 10px;
}

.color-options {
    display: flex;
    gap: 5px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
}

